*,*::before,*::after {
  box-sizing: border-box;margin: 0; 
}
div{
  display:flex;
  flex-direction: column;
  width:50%;
  justify-content: space-evenly;
}
p{
  width:50vw;
  padding:5px;
}
[type="radio"],[type="checkbox"]{
  padding:3px;
  margin:5px;
  transform: scale(1.32);
}
#description{
  align-self:center;
  width:22vw;
  transform:scale(1.2);
}
.form-group{
  padding:2px;
}
input{
  padding:5px;
  border:none;
  outline:none;
}
input:focus{
  padding:6px;
  transform:scale(1.05);
}
#com-div{
  width:100%;
  opacity:0.8;
  background-color: rgba(136, 136, 206, 0.7);
  border-radius: 10px;
  padding:7px;
  margin:15px 5px 10px 5px;
}
body {
    font-family: 'Lucida Sans Regular',Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: #eeeeee;
  }
body::before{
    content: '';
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #444444;
    background-image:radial-gradient( circle,
    rgba(58, 155, 158, 0.8),
    rgba(136, 136, 206, 0.7)) ,  url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
main{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    padding-top:15px;
    justify-content: space-evenly;
}
#survey-form{
    background-color: #2a2a48ad;
    width:53vw;
    height:auto;
    margin:10px;
    padding:20px 20px 20px 13px;
    line-height: 2;
}
fieldset{
  display:flex;
  flex-direction: column;
  flex-wrap:wrap;
  width:50vw;
}
button{
  padding:5px;
  border:none;
  outline:none;
  transform:scale(1.2);
  border-radius:10px;
}
@media (max-width:500px) {
  fieldset{
    width:80vw;
    
  }
  #survey-form{
    width:90vw;
  }
  legend{
    line-height: 1.2;
  }
}
@media (max-width:850px) {
  fieldset{
    width:78vw;
  }
  #survey-form{
    width:85vw;
  }
  legend{
    line-height: 1.2;
  }
}
#sub-div{
  align-items:center;
  width:50vw;
  padding:5px;
}
