html{
    background-color: white;
    padding:20px 10px 20px 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
}
#image{
    /* width:90vw; */
    width:100%;
}
#img-div{
    justify-content: center;
    width:90vw;
}
h4{
    padding:5px;
    align-self: center;
}
header, #img-div, .list{
    display:flex;
    flex-direction:column;
    align-items: center;
}
h1,h6,h3{
    color:#333333;
    /* transform:scale(1.5); */
}

figcaption, li{
    padding:13px;
}
li{
    transform:scale(1.11);
}
.quote{
    margin-top:1.8cm;
    font-style: italic;
    font-size: large;
    color:#444444;
}
